body, html {
  margin: 0;
  padding: 0;
}

.bg__pink {
  background-color: #EB407A;
  color: white;
}

md-toolbar + section {
  padding: 10px;
}

img.rotate {
  transform-origin: center center;
}
img.rotate:hover {
  animation: rotate 1s linear infinite;
}

md-card {
  margin: 10px;
}

md-card.demo {
  padding-top: 80px;
}

md-card.demo md-toolbar {
  position: absolute;
  top: 0;
  left: 0;
}

md-card.demo-content pre {
  padding: 10px;
}

md-card:not(.active) {
  -webkit-filter: grayscale(100%);
}


/* loader */
.circular {
  animation: rotate 1s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100px;
  width: 100px;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
