body, html {
  margin: 0;
  padding: 0;
}

.bg__pink {
  background-color: #EB407A;
  color: white;
}

md-toolbar + section {
  padding: 10px;
}

img.rotate {
  transform-origin: center center;
}
img.rotate:hover {
  animation: rotate 1s linear infinite;
}

md-card {
  margin: 10px;
}

md-card.demo:hover {
  box-shadow: 0 11px 15px -7px rgba(0,0,0,.2),
              0 24px 38px 3px rgba(0,0,0,.14),
              0 9px 46px 8px rgba(0,0,0,.12);
}

md-card.demo {
  padding-top: 80px;
  max-width: 800px;
  margin: 25px auto;
}

md-card.demo md-card-actions {
  margin: 0;
  padding: 0;
  text-align: center;
}

md-card.demo md-toolbar {
  position: absolute;
  top: 0;
  left: 0;
}

md-card.demo-content pre {
  padding: 10px;
}

md-card:not(.active) {
  -webkit-filter: grayscale(100%);
}

.md-whiteframe-2dp {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.2),
              0 2px 2px 0 rgba(0,0,0,.14),
              0 3px 1px -2px rgba(0,0,0,.12);
}

/* loader */
.circular {
  animation: rotate 1s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100px;
  width: 100px;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
